In [1]:
import pandas as pd
import numpy as np
from fcmeans import FCM

In [5]:
df = pd.read_excel('D:/project/streamlit/house/data_residensial_1.xlsx')
df

,fas_olga,fas_keamanan,jrk_airpport,jrk_toll,jrk_transport,jrk_supermarket,house_model,luas_rumah,uk_rumah,hrg_beli
0,1,1,33,10,7,3,2,100,90,1000000000
1,1,1,39,9,8,2,2,110,72,1200000000
2,1,1,36,10,8,3,2,90,72,800000000
3,1,1,40,11,11,4,2,72,60,600000000
4,1,1,35,14,9,1,3,77,60,650000000
...,...,...,...,...,...,...,...,...,...,...
290,1,1,311,10,8,2,1,88,70,840000000
291,1,1,32,9,10,3,3,100,90,1100000000
292,1,1,28,7,8,4,3,110,110,1250000000
293,1,1,29,9,11,3,3,70,36,683000000
294,2,1,30,10,7,1,3,72,50,710000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 295 entries, 0 to 294
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   fas_olga         295 non-null    int64
 1   fas_keamanan     295 non-null    int64
 2   jrk_airpport     295 non-null    int64
 3   jrk_toll         295 non-null    int64
 4   jrk_transport    295 non-null    int64
 5   jrk_supermarket  295 non-null    int64
 6   house_model      295 non-null    int64
 7   luas_rumah       295 non-null    int64
 8   uk_rumah         295 non-null    int64
 9   hrg_beli         295 non-null    int64
dtypes: int64(10)
memory usage: 23.2 KB

In [7]:
fcm = FCM(n_cluster=2, max_iter=1000)
df_fcm = fcm.fit(df.values)

In [8]:
fcm_centers = fcm.centers
fcm_labels = fcm.u.argmax(axis=1)

In [9]:
fcm.centers

array([[1.23966935e+00, 1.08503295e+00, 3.61242116e+01, 1.34054901e+01,
        8.46815659e+00, 2.62105454e+00, 2.65699244e+00, 9.89045981e+01,
        8.75746006e+01, 1.04156737e+09],
       [1.36472705e+00, 1.24213946e+00, 3.97004562e+01, 1.23908528e+01,
        9.11170312e+00, 2.51600747e+00, 2.21908393e+00, 6.61033617e+01,
        5.03232969e+01, 3.41118066e+08],
       [1.07642656e+00, 1.00004816e+00, 3.43903647e+01, 4.90505757e+00,
        4.25335475e+00, 1.49312769e+00, 3.23285161e+00, 9.98555349e+01,
        8.77594186e+01, 1.79840304e+09],
       [1.32719406e+00, 1.15808178e+00, 4.35080107e+01, 1.30585223e+01,
        8.76647123e+00, 2.55512504e+00, 2.49789358e+00, 7.81570529e+01,
        6.87202353e+01, 7.40270766e+08],
       [1.34315115e+00, 1.11989983e+00, 3.90782494e+01, 1.44959873e+01,
        9.24881337e+00, 2.51803977e+00, 2.33586059e+00, 6.99015264e+01,
        5.62996300e+01, 5.19850235e+08]])

In [10]:
fcm_labels

array([0, 0, 3, 4, 3, 1, 1, 4, 0, 0, 3, 3, 0, 3, 3, 2, 3, 1, 1, 1, 1, 3,
       1, 1, 1, 0, 1, 3, 0, 4, 3, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 3, 4, 0, 1, 3, 4, 1, 1, 1, 1, 4, 4, 1, 3, 1, 1, 1, 1, 1, 1, 1,
       0, 4, 4, 4, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 4, 1, 3, 1, 4,
       0, 3, 3, 3, 4, 4, 4, 1, 1, 1, 1, 0, 3, 3, 4, 1, 1, 2, 4, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 4, 1, 1, 0, 3, 1, 1, 1, 3, 3, 4,
       4, 4, 1, 1, 1, 1, 4, 4, 0, 4, 1, 4, 3, 1, 1, 1, 2, 3, 4, 4, 1, 4,
       4, 1, 4, 3, 4, 4, 4, 4, 4, 4, 1, 1, 1, 1, 1, 3, 0, 4, 1, 4, 3, 0,
       3, 0, 3, 1, 4, 4, 1, 2, 2, 3, 0, 3, 3, 3, 3, 1, 4, 0, 4, 3, 3, 3,
       0, 3, 3, 3, 3, 3, 0, 0, 0, 3, 4, 3, 3, 4, 1, 1, 0, 0, 0, 1, 3, 0,
       0, 1, 1, 3, 1, 4, 1, 3, 4, 3, 3, 3, 1, 3, 2, 3, 4, 3, 3, 0, 3, 3,
       0, 3, 3, 3, 0, 1, 3, 4, 0, 3, 4, 4, 4, 4, 0, 4, 3, 3, 1, 4, 4, 4,
       3, 0, 0, 1, 4, 4, 4, 1, 1, 1, 0, 2, 0, 2, 4, 0, 3, 3, 4, 4, 3, 4,
       3, 0, 3, 3, 3, 0, 0, 3, 3], dtype=int64)

In [11]:
import pickle
pickle.dump(fcm, open('./Model/model_fcm2.pkl', 'wb'))